<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bornapp.TodaysHadith">

<application
    android:name="com.bornapp.TodaysHadith.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >

    <receiver
        android:name="com.bornapp.TodaysHadith.WidgetMessageReceiver"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            <action android:name="com.bornaapp.appwidget.action.APPWIDGET_TIMER_TICK"/>
            <action android:name="com.bornaapp.appwidget.action.ACTIVITY_OPENED"/>
            <action android:name="com.bornaapp.appwidget.action.ACTIVITY_CONFIGURED"/>
            <action android:name="com.bornaapp.appwidget.action.ACTIVITY_CLOSED"/>
        </intent-filter>

        <meta-data android:name="android.appwidget.provider"
            android:resource="@xml/widgetinfo">
        </meta-data>
    </receiver>

    <activity android:name="com.bornapp.TodaysHadith.Configure">
    </activity>

    <service android:name="com.bornapp.TodaysHadith.UpdateService" >
    </service>

</application>
</manifest>